<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel=stylesheet href="/static/css/style.css">
</head>
<body>
      <div class="menu">
          <a href="index.html">Главная</a>
      </div>
<h1>Closes for woman</h1>
 <div class="category">
      <img src="/static/image/categories/women.png" alt="women">
      <div class="filter">
        <div class="text">
          <div class="comment">30% OFF</div>
          <div class="name pinky">FOR WOMEN</div>
        </div>
      </div>
</body>
</html>