<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel=stylesheet href="/static/css/style.css">
</head>
<body>
      <div class="menu">
          <a href="index.html">Главная</a>
      </div>
<h1>Clothes for MAN</h1>
 <div class="category">
      <img src="/static/image/categories/men.png" alt="men">
      <div class="filter">
        <div class="text">
          <div class="comment">HOT DEAL</div>
          <div class="name pinky">FOR MEN</div>
        </div>
      </div>
    </div>
</body>
</html>